/build
/coverage
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
/httpRequests/
.idea/
index.html
kanji-parts.db
.mypy_cache
/node_modules
npm-debug.log*
onyomi-database.sqlite
/.pnp
.pnp.js
/shelf/
.venv
venv
/workspace.xml
yarn-debug.log*
yarn-error.log*
