# do not show diff for large opaque ascii files
# see: https://git-scm.com/docs/gitattributes#_marking_files_as_binary
*.min.js             -diff
*.min.css            -diff
*.js.map             -diff
*.css.map            -diff
swagger*.js          -diff
swagger*.css         -diff
