#
# for pattern format see: https://git-scm.com/docs/gitignore#_pattern_format
#
**/artifacts
**/.directory
**/dist
**/elm-stuff
**/.env
**/docker_secrets.env
**/.idea
**/.ideadebug
**/*.iml
**/.mypy_cache
**/node_modules
**/__pycache__
**/target
**/tmp
**/userdata
**/.venv
**/venv
**/.DS_Store

*.pyc
*.sqlite3

# ignore graph build files
**/graph/frontend/etc/build/base-viewer.min.js
**/graph/frontend/etc/build/base.min.js
**/graph/frontend/src/main/webapp/js/app.min.js
**/graph/frontend/src/main/webapp/js/shapes-14-6-5.min.js
**/graph/frontend/src/main/webapp/js/stencils.min.js
**/graph/frontend/src/main/webapp/js/viewer-static.min.js
**/graph/frontend/src/main/webapp/js/viewer.min.js
