.history {
  background-color: #9fc29f;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  overflow: auto;
}

.header_row {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row:hover {
  background-color: yellow;
}