<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="../common/scribbler-global.css">
    <link rel="stylesheet" href="../common/scribbler-doc.css">
    <link rel="author" href="humans.txt">

    <script defer src="../common/scribbler.js"></script>
  </head>
  <body>
    <div class="doc__bg"></div>
    <nav class="header">
        <h1 class="logo">{{logo}}</h1>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item"><a href="index.html" class="link link--dark"><i class="fa fa-home"></i> {{menu__item__index_html}}</a></li>
        <li class="menu__item"><a href="https://github.com/temach/jplang/" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
      </ul>
    </nav>
    <div class="wrapper">
      <aside class="doc__nav">
        <ul>
            <li class="js-btn selected">{{doc__nav__intro}}</li>
            <li class="js-btn">{{doc__nav__project}}</li>
            <li class="js-btn">{{doc__nav__dev}}</li>
            <li class="js-btn">{{doc__nav__feedback}}</li>
        </ul>
      </aside>
      <article class="doc__content">
        <section class="js-section">
          <h3 id="Intro" class="section__title"><a href="#Intro"> {{ doc__introduction__title}}  </a></h3>

          <!-- Also: https://japaneseruleof7.com/why-you-must-learn-kanji/ -->
          {{ doc__introduction__html }}

          <hr />
        </section>

        <section class="js-section">
            <h3 id="Project" class="section__title"><a href="#Project"> {{doc__project__title}}</a></h3>

            {{ doc__project__html }}

          <hr />
        </section>

        <section class="js-section">
            <h3 id="Development" class="section__title"><a href="#Development">{{doc__dev__title}}</a></h3>

            {{doc__dev__html}}

          <hr />
        </section>

        <section class="js-section">
            <h3 id="Feedback" class="section__title"><a href="#Feedback">{{doc__feedback__title}}</a></h3>

            {{doc__feedback__html}}

        </section>

      </article>
    </div>

    <footer class="footer">{{footer}}</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
