<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <link href="../static/main.css" rel="stylesheet">
    <title>{{title}}</title>
  </head>

  <body>
    <!-- DEV_MODE_BEGIN -->
    <input oninput="window.postMessage({keyword:this.value}, '*');" type="text">
    <!-- DEV_MODE_END -->

    <div id="elmapp"></div>
    <script src="../static/moonspeak.js"></script>

    <!-- this script has translated versions -->
    <script src="elmapp.js"></script>

    <script src="../static/init.js"></script>
  </body>
</html>
