.sugggestions_spelling {
  background-color: #dafad8;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  overflow: auto;
}

.suggestions_phonetic {
  background-color: #cfffcd;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  overflow: auto;
}

.suggestions_verbatim {
  background-color: #b1faad;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  overflow: auto;
}

.header_row {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.row:hover {
  background-color: yellow;
}